# Environment & secret files
.env
venv/

# Python compiled bytecode cache
__pycache__/
*.pyc

# data files
data/*
!data/.gitkeep

#vscode configuration files
.vscode/

#build files
build/
dist/
src/ct_data_project.egg-info/
src/ct_environmental_data_dashboard.egg-info/